#student_id {
    color: #673ab7;
    transition: 0.3s;
}

#student_id:hover {
    cursor: pointer;
    color: #ffd740;
}





.table-icon{
    transition: 0.3s;
}

.table-icon:hover{
    transform: scale(1.4);
    cursor: pointer;
}

.download_icon {
    color: #6a3ab7;
    transition: 0.3s;
}

.download_icon:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.remove_icon {
    color: #ffd740;
    transition: 0.3s;
    margin-left: 10px;
}

.remove_icon:hover {
    transform: scale(1.5);
    cursor: pointer;
}



.box1 img {
    height: 200px;
    width: 200px;
}

.box2 ul {
    list-style: none;
}


.button-div button{
    margin: 12px;
    transition: 0.5s;
}

.button-div button:hover{
    transform: scale(1.2);
}


.button-div {
    text-align: center;
}

#close-button {
    position: absolute;
    right: 0px;
    margin: 0 12px;
    transition: 0.5s;
}

#close-button:hover {
    color: orangered;
    transform: rotateZ(90deg);
}

.payment-details {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 8px;
    padding: 12px;
    margin: 6px ;
}

.payment-action {
    display: flex;
    justify-content: left;
}

.payment-action a {
    text-decoration: none;
    margin: 0 8px;
    transition: 0.5s;
}

.payment-action a:nth-child(1) {
    color: #ffd740;
    /* color: #6a3ab7; */
}

.payment-action a:nth-child(2) {
    color: #ffd740;
}
.payment-action a:hover {
    transform: scale(1.2);
    cursor: pointer;
}