.fourthline {
    display: flex;
    justify-content: center;
}

/* mat-form-field {
    padding: 10px;
} */

.communication {
    display: flex;
    justify-content: center;
}

mat-card {
    margin-top: 20px;
}
/* .communication div {
    padding-left: 100px;
} */