<div class="container">
<mat-card>
  <mat-card-header>
    <mat-card-title>Student Enquiry</mat-card-title>
  </mat-card-header>


  <mat-card-content>
    <form [formGroup]="student_details_from">
      <div class="row">
  
        <mat-form-field class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <mat-label>Student Name</mat-label>
          <input matInput formControlName="student_name" />
        </mat-form-field>
  
  
        <mat-form-field class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <mat-label>Course</mat-label>
          <mat-select formControlName="course" (selectionChange)="onCourseChange()">
            <mat-option *ngFor="let course of courses" [value]="course.id_course">{{course.name}}</mat-option>
          </mat-select>
        </mat-form-field>
  
  
        <mat-form-field class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <mat-label>Batch</mat-label>
          <mat-select formControlName="batch">
            <mat-option *ngFor="let batch of formBoundBatches" [value]="batch.id_batch">{{batch.batch_name}}</mat-option>
          </mat-select>
        </mat-form-field>
  
      </div>
  
      <div class="row">
  
        <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <mat-label>Mobile Number</mat-label>
          <input matInput formControlName="mobile" />
        </mat-form-field>
  
        <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
  
  
        <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <mat-label>Source of information</mat-label>
          <input matInput formControlName="source_of_info" />
        </mat-form-field>
  
  
        <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <mat-label>Remarks</mat-label>
          <textarea matInput formControlName="remarks"></textarea>
        </mat-form-field>
  
      </div>
  
  
    <div formArrayName="communications">
      <div class="row" [formGroupName]="i"
        *ngFor="let item of student_details_from.get('communications')['controls']; let i = index">

          <mat-form-field class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
  
          <mat-form-field class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <mat-label>Message</mat-label>
            <input matInput formControlName="message">
          </mat-form-field>

        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button color="warn" mat-button title="Delete Row" (click)="delete_communications_row(i)">
            Remove
          </button>
        </div>
  
      </div>
    </div>
  
    <div class="fourthline">
      <button mat-button color="primary" title="Add Rows" type="button" (click)="add_communications_row()">Add Communication</button>
      <button mat-button color="accent" title="Clear Form" type="button" (click)="clear()">Clear</button>
      <button mat-button color="primary" title="Save Details" type="button" (click)="save()">Save</button>
    </div>
  </form>
  </mat-card-content>
</mat-card>
  
<br>
</div>
      



